





/* ======######========
backgraound  parts
==========#####======= */

body{
    background-color: rgb(221, 255, 252);
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container-div{
    width: 75%;
    width: 75%;
    margin: 0 auto
}


/* ==============
 header parts below
================= */

header{
    background-color: rgb(0, 255, 242);
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-radius: 10px;
    margin-top: 2rem;
    
}

.siteheader{
    padding-top: 10px;
}

.motto{
    text-align: center;
}

.login a {
    text-decoration: none;
}

/* ==============
nav parts below
================= */

nav{
    display: flex;
    justify-content: space-between;

    margin: 3% 0;
    text-align: center;
    font-size: 1.75rem;

}

.nav-btn{
width: 45%;
padding-top: 2.5%;
padding-bottom: 2.5%;
background-color: rgb(140, 228, 58);
border-radius: 10px;

}

.green{
    background-color: rgb(140, 228, 58);
}



/* ======#####========
body parts below
=========#####======== */


/* ===============
about 3 item bootstrap below
================== */

.about{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
}

.boot1{
    width: 45%;
    background-color: aqua  ;
    border-radius: 10px;
    text-align: right;
    
}

.boot-padd{
    padding: 1rem;
}

.about p {
    margin: 1px;
}

/* =============
embeded map iframe
================ */
.map-iframe{
width: 45%;
}

.map-iframe iframe{
    width: 100%;
    height: 100%;
}


/* =============
2nd section
bootstrap carousel
================ */



.boot-carou{
    width: 100%;
    max-height: 400px;
    background-color: rgb(128, 128, 128)(66, 66, 66);
    margin-top: 2.5%;
}

.boot-carou img{
    max-height: 100%;
    height: 300px;
}

.boot-carou-navcolor{
    background-color: rgba(0, 255, 255, 0.383);
}






.form-control{
    text-align: right;
}
.contact-form{
    margin-top: 2%;
    text-align: center;
}



.formwrapper{
    text-align: right;
    width: 50%;
    margin: 3.5% auto;
}














footer{
    margin-top: 2.5%;
    margin-bottom: 4.5%;
    background-color: aqua;
    display: flex;
    padding-top: 2rem;
    text-align: center;
    line-height: 5px;
    justify-content: space-around;

}

.find-us{
    line-height: 10px;
}

.social-media{
    letter-spacing: 10px;
    line-height: 10px;
}

.contact-info{
    line-height: 4px;
    letter-spacing: 4px;
}

.ins{
    max-height: 20px;
}
.tel{
    max-width: 20px;
}